body{
   
    background: #44cceb;
    font-size: 20px;
    color: black;
}
.header_div{
    background: white;
    color: tomato;
}

.img-responsive{
    width: 300px;
}

span{
    color: black;
    font-weight: bolder;
}